li(id="emptyField")
    div.panel-body
        .form-group
            label(class="control-label col-sm-2") Field Name
            div(class='col-sm-8')
                input.form-control.input-sm(type="text",placeholder="Name",name="event[badge][999][name]",id='badge-999-name')
            div.col-sm-2.text-right
                button(class="btn btn-danger btn-sm remove-field")
                    span.glyphicon.glyphicon-trash
                    |  Remove

        .form-group
            label.control-label.col-sm-2 Data Field
            div.col-sm-10
                .input-group
                    span.input-group-addon
                        input(type="checkbox" class='use-data-field' data-row=999)
                        |  Use Field Name
                    input.form-control.input-sm(type="text",placeholder="Data Field",name="event[badge][999][dataField]",id="badge-999-datafield")
                    span.input-group-addon
                        input(type="checkbox" name="event[badge][999][exclusive]")
                        |  Exclusive

        .form-group
            label(class="control-label col-sm-2") X (Horizontal):
            div.col-sm-2
                input.form-control.input-sm(type="text",placeholder="Position",name="event[badge][999][x]",value='center')
            label(class="control-label col-sm-2") Y (Vertical):
            div.col-sm-2
                input.form-control.input-sm(type="text",placeholder="Position",name="event[badge][999][y]")
            label(class="control-label col-sm-2") Width:
            div.col-sm-2
                input.form-control.input-sm(type="text",placeholder="Width",name="event[badge][999][width]",value='auto')

        .form-group
            label(class="control-label col-sm-2") Font Size
            div(class='col-sm-4')
                input.form-control.input-sm(type="text",placeholder="Size",name="event[badge][999][size]")
            label(class="control-label col-sm-2") Alignment
            div(class='col-sm-4')
                select.form-control.input-sm(name="event[badge][999][align]")
                    option(value='left' ) Left
                    option(value='center' selected=true) Center
                    option(value='right') Right
        .form-group
            label(class="control-label col-sm-2") Font
            div(class='col-sm-10')
                input.form-control.input-sm(type="text",placeholder="Path to Font",name="event[badge][999][font]")

        .form-group
            label(class="control-label col-sm-2") PDF Options
                = " "
                a(href="http://pdfkit.org/docs/text.html#text_styling", target="_blank")
                    span.glyphicon.glyphicon-question-sign
            div(class='col-sm-10')
                input.form-control.input-sm(type="json",placeholder="{ pdfKitOption: value }", name="event[badge][999][pdfOptions]")
