extends ../layout

block content
    ol(class="breadcrumb")
        li
            a(href='/events') Events
        li(class="active") Create

    div(class="row")
        div(class="col-sm-8 col-sm-offset-2")
            +panel-default('Create Event')
                form(class="form" data-toggle="validator" method="POST" action="/events")
                    input(type="hidden", name='_csrf',value=csrfToken)
                    include ./_form.jade
                include ./_badgeField.jade

append scripts
    script(src='/javascripts/eventEdit.js')
