extends layout

block content
  .row
    .col-sm-9
      h2 #{session.currentEvent.name} Check in
    .col-sm-3
      h3 #{attendeeData.checkedIn} of #{attendeeData.registered} ( #{Math.round(attendeeData.checkedIn/attendeeData.registered * 100)}% )
  p
    div(class='row')
        div(class='col-sm-9')
            input(type="search" class="attendee-search form-control", autocomplete="off", placeholder="Name or Email")
        div(class='col-sm-3')
            a(class='btn btn-success' href='/attendees/new?from=search')
                i(class="glyphicon glyphicon-plus")
                |  New Attendee


append scripts
    script(src='/javascripts/search.js')
