extends layout

block content
  h2 #{session.currentEvent.name} Check in
  p
    div(class='row')
        div(class='col-sm-9')
            input(type="search" class="attendee-search form-control", autocomplete="off", placeholder="Name or Email")
        div(class='col-sm-3')
            a(class='btn btn-success' href='/attendees/new?from=search')
                i(class="glyphicon glyphicon-plus")
                |  New Attendee


append scripts
    script(src='/javascripts/search.js')

