extends layout

block content
  h2 #{session.currentEvent.name} Check in
  p
    div(class='row')
        div(class='col-sm-12')
            input(type="search" class="attendee-search form-control", autocomplete="off", placeholder="Name or Email")
    div(class='row')
        div(class='col-sm-12')
            object#attendee-result(type="application/pdf")


append scripts
    script(src='/javascripts/search.js')

