extends ../layout

block content
    ol(class="breadcrumb")
        li
            a(href='/importers') Importers
        li
            a(href='/importers/' + importer.id)= importer.name
        li(class="active") Edit

    div(class="row")
        div(class="col-sm-8 col-sm-offset-2")
            +panel-default('Edit Importer: '+ importer.name)
                form(class="form" data-toggle="validator" method="POST" action='/importers/' + importer.id)
                    input(type="hidden", name="_method",  value="PUT")
                    input(type="hidden", name='_csrf',value=csrfToken)
                    input(type="hidden", name='importer[id]',value=importer.id)
                    include ./_form.pug

