extends ../layout

block content
    ol(class="breadcrumb")
        li(class="active") Importers
    h2 Importers List
    a(class='btn btn-success' href='/importers/new')
        span(class="glyphicon glyphicon-plus")
        |  New Importer
    .table-sorted-loading.alert.alert-info.top-buffer
        span(class='glyphicon glyphicon-refresh glyphicon-refresh-animate')
        |  Loading Data, please wait
    .table-responsive
        table(class='table table-striped table-condensed table-sorted')
            thead
                tr
                    th ID
                    th Name
            tbody
                for importer in importers
                    tr(class='clickable-row', data-click-object='importers' data-click-id=importer.id)
                        td= importer.id
                        td
                            a(href='/importers/' + importer.id)= importer.name
            tfoot
                +pager


append scripts
    script(src='/javascripts/data-table.js')
